html {
    font-size: 130%;
  }
  
  body {
    background: var(--color-white);
  
    &::before {
      content: '';
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url("/img/logoBg.svg");
      background-size: 280px auto;
      background-repeat: no-repeat;
      background-position: top -20px right 0;
      z-index: -1;
    }
  }
  
  h1,
  h2,
  h3,
  h4,
  p {
    margin: 0;
  }
  
  a {
    text-decoration: none;
  }
  
  ul,
  menu {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .wrap {
    padding: 59px 30px 150px 30px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: 100%;
    box-sizing: border-box;
    overflow: auto;
  }
  
  .rightContentWrap {
    padding-bottom: 30px;
  
    > div:first-child {
      margin-bottom: 60px;
    }
  
    h1 {
      margin-bottom: 20px;
    }
  }
  
  .disableScroll {
    position: sticky;
    overflow: hidden;
  }
  
  .page-title {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: var(--color-dark);
  }
  
  .myTextarea {
    box-sizing: border-box;
    -webkit-appearance: none;
    width: 100%;
    height: 102px;
    padding: 10px 10px 10px 20px;
    background: var(--color-white);
    border: 1px solid var(--color-grey3);
    border-radius: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: var(--color-dark);
    outline: none;
    resize: none;
  
    &::placeholder {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 19px;
      color: var(--color-grey1);
    }
  
    &.error {
      border-color: var(--color-red-error);
    }
  }
  
  // libs elements
  .react-tiny-popover-container {
    z-index: 100;
  
    > div {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
      color: var(--color-black-dark);
      padding: 10px;
      background: var(--color-white);
      box-shadow: 0 2px 4px rgba(40, 41, 61, 0.04), 0 8px 16px rgba(96, 97, 112, 0.16);
      border-radius: 4px;
      margin: 10px;
    }
  }
  
  .myDate {
    border: 1px solid var(--color-grey3);
    box-sizing: border-box;
    border-radius: 10px;
    outline: none;
    box-shadow: none;
    padding: 18.5px 20px;
    background: white;
    width: 100%;
    color: var(--color-dark);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
  
    &::placeholder {
      color: var(--color-grey1);
    }
  }
  
  .myCalendar,
  .myTime {
    display: flex;
    position: relative;
    width: 100%;
    min-width: 100%;
    height: 55px;
    background: white;
    border: 1px solid var(--color-grey3);
    border-radius: 10px;
    padding: 0 18px 0 20px;
    box-sizing: border-box;
    margin-bottom: 10px;
  
    .content {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
  
      p {
        color: var(--color-dark);
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
  
        &.placeholder {
          color: var(--color-grey1);
        }
      }
    }
  
    input {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      cursor: pointer;
      box-sizing: border-box;
    }
  
    input::-webkit-calendar-picker-indicator {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
      cursor: pointer;
    }
  
    &.error {
      border-color: var(--color-red-error);
  
      .content img {
        filter: brightness(0) saturate(100%) invert(60%) sepia(37%) saturate(5869%) hue-rotate(324deg) brightness(91%) contrast(102%);
      }
    }
  }
  
  .react-datepicker-wrapper {
    &.error {
      .myDate {
        border-color: var(--color-red-error);
      }
  
      .react-datepicker__input-container::before {
        filter: brightness(0) saturate(100%) invert(44%) sepia(73%) saturate(2357%) hue-rotate(332deg) brightness(111%) contrast(84%);
      }
    }
  
    &.clock {
      .react-datepicker__input-container::before {
        background-image: url("/img/icons/clock.svg");
      }
    }
  }
  
  .react-datepicker__input-container {
    position: relative;
  
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      right: 20px;
      width: 19px;
      height: 20px;
      transform: translateY(-50%);
      background-image: url("/img/icons/calendar.svg");
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
  
  .react-datepicker--time-only .react-datepicker__triangle {
    transform: translate3d(70px, 0, 0) !important;
  }
  
  .mySelect {
    > div:nth-child(2) {
      height: 55px;
      border: 1px solid var(--color-grey3);
      box-sizing: border-box;
      border-radius: 10px;
      outline: none;
      box-shadow: none;
      background: white;
      width: 100%;
      cursor: text;
  
      > div:first-child {
        padding-left: 20px;
  
        > div:first-child {
          color: var(--color-grey1);
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 16px;
  
          &.react-select__single-value {
            color: var(--color-dark);
          }
        }
      }
  
      > div:last-child {
        span {
          display: none;
        }
  
        > div {
          position: relative;
          height: 20px;
          width: 20px;
          margin-right: 20px;
  
          &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url("/img/icons/arrow-d.svg");
            background-repeat: no-repeat;
            background-size: cover;
          }
  
          * {
            display: none;
          }
        }
      }
    }
  
    > div:nth-child(3) {
      border-radius: 10px;
      border: 1px solid var(--color-grey3);
      box-shadow: 0 0 0 1px rgba(227, 227, 227, 0.2), 0 2px 5px rgba(208, 208, 208, 0.2);
      color: var(--color-dark);
  
      > div > div {
        padding: 8px 20px;
        font-size: 15px;
        cursor: pointer;
      }
  
      .react-select__option--is-focused {
        background-color: rgba(235, 235, 235, 0.6);
      }
  
      .react-select__option--is-selected {
        background-color: var(--color-yellow);
      }
    }
  
    &.error {
      > div:nth-child(2) {
        border-color: var(--color-red-error);
  
        > div:last-child > div::before {
          filter: brightness(0) saturate(100%) invert(44%) sepia(73%) saturate(2357%) hue-rotate(332deg) brightness(111%) contrast(84%);
          opacity: 0.8;
        }
      }
    }
  }
  
  .react-datepicker-popper {
    margin-top: -25px;
  
    .react-datepicker__time {
      .react-datepicker__time-list {
        padding: 10px 0;
  
        .react-datepicker__time-list-item {
          height: auto !important;
          padding: 10px !important;
  
          &.react-datepicker__time-list-item--selected {
            background: var(--color-yellow) !important;
          }
        }
      }
    }
  
    .react-datepicker {
      border: none;
      box-shadow: 0 2px 4px rgba(40, 41, 61, 0.04), 0 8px 16px rgba(96, 97, 112, 0.16);
  
      .react-datepicker__navigation-icon::before {
        border-width: 2px 2px 0 0;
      }
  
      .react-datepicker__header {
        background: var(--color-white);
        border-bottom: none;
        padding-bottom: 0;
  
        .react-datepicker__day-name {
          font-weight: 600;
        }
      }
  
      .react-datepicker__triangle {
        display: none;
      }
  
      .react-datepicker__day--keyboard-selected {
        background: white;
        color: var(--color-dark);
      }
  
      .react-datepicker__day--today {
        font-weight: 400;
        background-color: rgba(235, 235, 235, 0.68);
        border-radius: 4px;
      }
  
      .react-datepicker__day--selected {
        background: var(--color-yellow);
        border-radius: 4px;
      }
  
      .react-datepicker__day--outside-month {
        color: var(--color-grey1);
      }
    }
  }
  
  .ant-spin .ant-spin-dot {
    .ant-spin-dot-item {
      background-color: var(--color-yellow);
    }
  }
  
  // grouped styles
  
  .cardWrap {
    width: 100%;
    padding: 20px;
    background: var(--color-white);
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid var(--color-grey);
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    position: relative;
  
    .link {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
    }
  }
  
  .tableTitleWrap {
    grid-gap: 20px;
    min-height: 62px;
    background: rgba(251, 251, 251, 1);
    padding: 0 30px;
    overflow: hidden;
    display: grid;
  
    p {
      display: flex;
      align-items: center;
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
      overflow: hidden;
      color: var(--color-dark);
      text-overflow: ellipsis;
  
      img {
        max-height: 22px;
        margin-right: 10px;
      }
    }
  }
  
  @media (max-width: 959px) {
    .desktopOnly {
      display: none;
    }
  
    .myCalendar input {
      width: calc(100vw - 64px);
    }
  }
  
  @media (min-width: 960px) {
    body {
      &::before {
        background-size: 584px 559px;
        background-position: top -60px right -67px;
        background-image: url("/img/logoBgDesktop.png");
      }
    }
  
    .wrap {
      padding: 129px 86px 30px 86px;
    }
  
    .desktopOnly {
      display: block;
    }
  
    .rightContentWrap {
      padding: 90px 98px;
      max-width: 600px;
      margin-left: auto;
      position: relative;
      display: grid;
      grid-template-rows: 70px auto;
      grid-gap: 40px;
  
      &::before {
        content: '';
        position: fixed;
        height: 100%;
        width: calc(100vw - 600px);
        left: 0;
        top: 0;
        background-image: url("/img/loginMain.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }
  
      > div:first-child {
        margin-bottom: 0;
      }
  
      > div:nth-child(2) {
        display: flex;
        flex-direction: column;
        height: auto;
        margin: 0 auto !important;
        max-width: 315px;
        width: 315px;
      }
    }
  }
  