:root {
    // Corporate Identity Colors Sedimentum
    --color-red: rgba(115, 47, 55, 1);
    --color-red-light: rgba(227, 213, 215, 1);
    --color-green: rgba(155, 197, 52, 1);
    --color-green-dark: rgba(33, 150, 83, 1);
    --color-green-light: rgba(219, 234, 179, 1);
    --color-yellow: rgba(240, 209, 47, 1);
    --color-yellow-light: rgba(252, 246, 204, 1);
  
    // main colors list
    --color-dark: rgba(51, 47, 46, 1);
    --color-black-dark: rgba(0, 0, 0, 1);
    --color-dark-blue: rgba(29, 35, 46, 1);
    --color-white: rgba(255, 255, 255, 1);
    --color-grey: rgba(235, 235, 235, 1);
    --color-grey1: rgba(189, 189, 189, 1);
    --color-grey2: rgba(224, 224, 224, 1);
    --color-grey3: rgba(242, 242, 242, 1);
    --color-red-error: rgba(235, 87, 87, 1);
    --color-blue: rgba(47, 63, 115, 1);
  
    // focused, pressed colors
    --color-yellow-dark: rgba(229, 193, 16, 1);
    --color-red-dark: rgba(87, 35, 41, 1);
    --color-blue-dark: rgba(36, 48, 86, 1);
  }
  